
/*
* CSS Document
* contains default styles
*/

body {
    font-family: 'Saira', sans-serif;
}

main {
  width: 100%;
}

.logo {
  font-size: 2em
}

.centered {
  text-align: center;
}

.question {
  font-size: 3em;
  margin: 1%;
  margin-bottom: 5%;
  border: 2px groove green;
  border-radius: 3px;
}

.answer {
  display: block;
  white-space: normal;
  word-wrap: break-word;
  font-size: 1.3em;
  width: 98%;
  margin: 1%;
  margin-bottom: 0.5em;
}
