
/*
* CSS Document
* contains default styles
*/
body {
    font-family: 'Saira', sans-serif;
}

main {
  width: 100%;
}

header {
  position: relative;
  font-size: 1.5em;
  border-bottom: 1px solid green;
  width:100%;
  margin-bottom: 1em;
}

.centered {
  text-align: center;
}

.question {
  font-size: 3em;
  margin: 1%;
  margin-bottom: 5%;
  border: 2px groove green;
  border-radius: 3px;
}

.answer {
  display: block;
  font-size: 1.3em;
  width: 98%;
  margin: 1%;
}
