/*
 * CSS Document
 * contains responsive styles
*/

@media screen and (min-width: 700px) {
  .answer {
    font-size: 1.3em;
  }
}

@media screen and (min-width: 800px) {
  .answer {
      display: inline-block;
      width: 47.5%;
  }

  .question {
    font-size: 3em;
  }

  #result-overlay {
    width: 80%;
  }
}

@media screen and (min-width: 1100px) {
  .answer {
    font-size: 1.5em;
  }

  main {
    width: 1100px;
    margin: auto;
  }

  #result-overlay {
    width: 50%;
  }
}
